USE [master]
GO
/****** Object:  Database [QLShopQuanAo]    Script Date: 17/11/2025 7:57:01 PM ******/
CREATE DATABASE [QLShopQuanAo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLShopQuanAo_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLShopQuanAo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLShopQuanAo_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLShopQuanAo.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLShopQuanAo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLShopQuanAo]
GO
/****** Object:  Table [dbo].[CA_LAM_VIEC]    Script Date: 17/11/2025 7:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_LAM_VIEC](
	[MaCa] [int] IDENTITY(1,1) NOT NULL,
	[TenCa] [nvarchar](50) NOT NULL,
	[GioBatDau] [time](7) NOT NULL,
	[GioKetThuc] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIET_DONHANG]    Script Date: 17/11/2025 7:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_DONHANG](
	[MaDH] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[ThanhTien]  AS ([SoLuong]*[DonGia]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIET_PHIEUNHAP]    Script Date: 17/11/2025 7:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_PHIEUNHAP](
	[MaPN] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[ThanhTien]  AS ([SoLuong]*[DonGia]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 17/11/2025 7:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANG](
	[MaDH] [int] IDENTITY(1,1) NOT NULL,
	[NgayLap] [datetime] NOT NULL,
	[MaNV] [int] NOT NULL,
	[MaKH] [int] NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANGSANXUAT]    Script Date: 17/11/2025 7:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGSANXUAT](
	[MaHSX] [int] IDENTITY(1,1) NOT NULL,
	[TenHSX] [nvarchar](100) NOT NULL,
	[QuocGia] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenHSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 17/11/2025 7:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NULL,
	[MaLoaiKH] [int] NOT NULL,
	[SDT] [nvarchar](15) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[Email] [nvarchar](100) NULL,
	[TenCongTy] [nvarchar](150) NULL,
	[MaSoThue] [nvarchar](50) NULL,
	[NgayTao] [datetime] NOT NULL,
 CONSTRAINT [PK__KHACHHAN__2725CF1E37312B46] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_KHACHHANG_SDT] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_KHACHHANG]    Script Date: 17/11/2025 7:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_KHACHHANG](
	[MaLoaiKH] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiKH] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](200) NULL,
	[ChietKhau] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenLoaiKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 17/11/2025 7:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MaNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](100) NOT NULL,
	[SDT] [nvarchar](15) NULL,
	[DiaChi] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_NCC_SDT] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 17/11/2025 7:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[SDT] [nvarchar](15) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[NgayVaoLam] [date] NULL,
	[TrangThai] [nvarchar](20) NULL,
	[Luong] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHATKY_DANGNHAP]    Script Date: 17/11/2025 7:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHATKY_DANGNHAP](
	[MaNhatKy] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [int] NOT NULL,
	[MaNV] [int] NULL,
	[MaCa] [int] NULL,
	[ThoiGianDangNhap] [datetime] NOT NULL,
	[ThoiGianDangXuat] [datetime] NULL,
	[DiaChiIP] [nvarchar](50) NULL,
	[ThietBi] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhatKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHAN_CONG_CA]    Script Date: 17/11/2025 7:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHAN_CONG_CA](
	[MaPhanCong] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [int] NOT NULL,
	[MaCa] [int] NOT NULL,
	[NgayLam] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhanCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PC_NV_CA_NGAY] UNIQUE NONCLUSTERED 
(
	[MaNV] ASC,
	[MaCa] ASC,
	[NgayLam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 17/11/2025 7:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MaPN] [int] IDENTITY(1,1) NOT NULL,
	[NgayNhap] [datetime] NOT NULL,
	[MaNV] [int] NOT NULL,
	[MaNCC] [int] NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 17/11/2025 7:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[GiaNhap] [decimal](18, 2) NOT NULL,
	[GiaBan] [decimal](18, 2) NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[BaoHanh] [nvarchar](50) NULL,
	[MoTa] [nvarchar](max) NULL,
	[AnhSP] [char](20) NULL,
	[MaHSX] [int] NULL,
	[Size] [nvarchar](10) NULL,
	[ChatLieu] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[MaLoaiSP] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 17/11/2025 7:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[VaiTro] [nvarchar](20) NOT NULL,
	[MaNV] [int] NULL,
	[TrangThai] [bit] NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DONHANG] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[DONHANG] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [DF__KHACHHANG__NgayT__5FB337D6]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[LOAI_KHACHHANG] ADD  DEFAULT ((0)) FOR [ChietKhau]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT (getdate()) FOR [NgayVaoLam]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT (N'Đang làm') FOR [TrangThai]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT ((0)) FOR [Luong]
GO
ALTER TABLE [dbo].[NHATKY_DANGNHAP] ADD  DEFAULT (getdate()) FOR [ThoiGianDangNhap]
GO
ALTER TABLE [dbo].[PHIEUNHAP] ADD  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[PHIEUNHAP] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[PHIEUNHAP] ADD  DEFAULT (N'Tạo mới') FOR [TrangThai]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[CHITIET_DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_DONHANG] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DONHANG] ([MaDH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIET_DONHANG] CHECK CONSTRAINT [FK_CTDH_DONHANG]
GO
ALTER TABLE [dbo].[CHITIET_DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_SANPHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CHITIET_DONHANG] CHECK CONSTRAINT [FK_CTDH_SANPHAM]
GO
ALTER TABLE [dbo].[CHITIET_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_PHIEUNHAP] FOREIGN KEY([MaPN])
REFERENCES [dbo].[PHIEUNHAP] ([MaPN])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIET_PHIEUNHAP] CHECK CONSTRAINT [FK_CTPN_PHIEUNHAP]
GO
ALTER TABLE [dbo].[CHITIET_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_SANPHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CHITIET_PHIEUNHAP] CHECK CONSTRAINT [FK_CTPN_SANPHAM]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KH_LOAIKH] FOREIGN KEY([MaLoaiKH])
REFERENCES [dbo].[LOAI_KHACHHANG] ([MaLoaiKH])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KH_LOAIKH]
GO
ALTER TABLE [dbo].[NHATKY_DANGNHAP]  WITH CHECK ADD  CONSTRAINT [FK_NK_CA] FOREIGN KEY([MaCa])
REFERENCES [dbo].[CA_LAM_VIEC] ([MaCa])
GO
ALTER TABLE [dbo].[NHATKY_DANGNHAP] CHECK CONSTRAINT [FK_NK_CA]
GO
ALTER TABLE [dbo].[NHATKY_DANGNHAP]  WITH CHECK ADD  CONSTRAINT [FK_NK_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[NHATKY_DANGNHAP] CHECK CONSTRAINT [FK_NK_NHANVIEN]
GO
ALTER TABLE [dbo].[NHATKY_DANGNHAP]  WITH CHECK ADD  CONSTRAINT [FK_NK_TAIKHOAN] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TAIKHOAN] ([MaTK])
GO
ALTER TABLE [dbo].[NHATKY_DANGNHAP] CHECK CONSTRAINT [FK_NK_TAIKHOAN]
GO
ALTER TABLE [dbo].[PHAN_CONG_CA]  WITH CHECK ADD  CONSTRAINT [FK_PC_CA] FOREIGN KEY([MaCa])
REFERENCES [dbo].[CA_LAM_VIEC] ([MaCa])
GO
ALTER TABLE [dbo].[PHAN_CONG_CA] CHECK CONSTRAINT [FK_PC_CA]
GO
ALTER TABLE [dbo].[PHAN_CONG_CA]  WITH CHECK ADD  CONSTRAINT [FK_PC_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHAN_CONG_CA] CHECK CONSTRAINT [FK_PC_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NCC] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHACUNGCAP] ([MaNCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NCC]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHANVIEN]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SP_HANGSX] FOREIGN KEY([MaHSX])
REFERENCES [dbo].[HANGSANXUAT] ([MaHSX])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SP_HANGSX]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TK_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TK_NHANVIEN]
GO
ALTER TABLE [dbo].[CA_LAM_VIEC]  WITH CHECK ADD  CONSTRAINT [CK_CA_GIO] CHECK  (([GioBatDau]<[GioKetThuc]))
GO
ALTER TABLE [dbo].[CA_LAM_VIEC] CHECK CONSTRAINT [CK_CA_GIO]
GO
ALTER TABLE [dbo].[CHITIET_DONHANG]  WITH CHECK ADD  CONSTRAINT [CK_CTDH_DONGIA] CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[CHITIET_DONHANG] CHECK CONSTRAINT [CK_CTDH_DONGIA]
GO
ALTER TABLE [dbo].[CHITIET_DONHANG]  WITH CHECK ADD  CONSTRAINT [CK_CTDH_SL] CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[CHITIET_DONHANG] CHECK CONSTRAINT [CK_CTDH_SL]
GO
ALTER TABLE [dbo].[CHITIET_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [CK_CTPN_DONGIA] CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[CHITIET_PHIEUNHAP] CHECK CONSTRAINT [CK_CTPN_DONGIA]
GO
ALTER TABLE [dbo].[CHITIET_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [CK_CTPN_SL] CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[CHITIET_PHIEUNHAP] CHECK CONSTRAINT [CK_CTPN_SL]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [CK_DH_TONG] CHECK  (([TongTien]>=(0)))
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [CK_DH_TONG]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CK_KH_SDT_FORMAT] CHECK  (([SDT] IS NULL OR len([SDT])>=(9) AND len([SDT])<=(15)))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CK_KH_SDT_FORMAT]
GO
ALTER TABLE [dbo].[LOAI_KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CK_LKH_CHIETKHAU] CHECK  (([ChietKhau]>=(0) AND [ChietKhau]<=(100)))
GO
ALTER TABLE [dbo].[LOAI_KHACHHANG] CHECK CONSTRAINT [CK_LKH_CHIETKHAU]
GO
ALTER TABLE [dbo].[NHACUNGCAP]  WITH CHECK ADD  CONSTRAINT [CK_NCC_SDT_FORMAT] CHECK  (([SDT] IS NULL OR len([SDT])>=(9) AND len([SDT])<=(15)))
GO
ALTER TABLE [dbo].[NHACUNGCAP] CHECK CONSTRAINT [CK_NCC_SDT_FORMAT]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_NV_GIOITINH] CHECK  (([GioiTinh]=N'Khác' OR [GioiTinh]=N'Nữ' OR [GioiTinh]=N'Nam'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_NV_GIOITINH]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_NV_LUONG] CHECK  (([Luong]>=(0)))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_NV_LUONG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_NV_NGAYSINH] CHECK  (([NgaySinh]<=getdate()))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_NV_NGAYSINH]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_NV_SDT] CHECK  ((len([SDT])>=(9) AND len([SDT])<=(15)))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_NV_SDT]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_NV_TRANGTHAI] CHECK  (([TrangThai]=N'Tạm nghỉ' OR [TrangThai]=N'Nghỉ việc' OR [TrangThai]=N'Đang làm'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_NV_TRANGTHAI]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [CK_PN_TONG] CHECK  (([TongTien]>=(0)))
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [CK_PN_TONG]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [CK_PN_TRANGTHAI] CHECK  (([TrangThai]=N'Hủy' OR [TrangThai]=N'Hoàn thành' OR [TrangThai]=N'Đã duyệt' OR [TrangThai]=N'Tạo mới'))
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [CK_PN_TRANGTHAI]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [CK_SP_GIABAN] CHECK  (([GiaBan]>=(0)))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [CK_SP_GIABAN]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [CK_SP_GIABAN_LONHON_GIANHAP] CHECK  (([GiaBan]>=[GiaNhap]))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [CK_SP_GIABAN_LONHON_GIANHAP]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [CK_SP_GIANHAP] CHECK  (([GiaNhap]>=(0)))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [CK_SP_GIANHAP]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [CK_SP_SOLUONG] CHECK  (([SoLuongTon]>=(0)))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [CK_SP_SOLUONG]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [CK_TK_VAITRO] CHECK  (([VaiTro]='NhapKho' OR [VaiTro]='BanHang' OR [VaiTro]='Admin'))
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [CK_TK_VAITRO]
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatChiTietDonHang]    Script Date: 17/11/2025 7:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[sp_CapNhatChiTietDonHang]
    @MaDH int,
    @MaSP int,
    @SoLuong int,
    @DonGia decimal(18,2),
    @MaSP_Cu int
as
begin
    -- Trigger sẽ tự động quản lý tồn kho!
    update CHITIET_DONHANG
    set MaSP = @MaSP,
        SoLuong = @SoLuong,
        DonGia = @DonGia
    where MaDH = @MaDH and MaSP = @MaSP_Cu;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatDonHang]    Script Date: 17/11/2025 7:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[sp_CapNhatDonHang]
    @MaDH int,
    @MaNV int,
    @NgayLap Date
as
begin
    update DONHANG
    set NgayLap = @NgayLap,
        MaNV = @MaNV
    where MaDH = @MaDH
end
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatKhachHang]    Script Date: 17/11/2025 7:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[sp_CapNhatKhachHang]
    @MaKH int,
    @TenKH nvarchar(100)
as
begin
    update KHACHHANG
    set TenKH = @TenKH
    where MaKH = @MaKH
end
GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraCaLamViec]    Script Date: 17/11/2025 7:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KiemTraCaLamViec]
    @TenDangNhap NVARCHAR(50),
    @ThoiGianDangNhap DATETIME -- Truyền thời gian hiện tại lúc đăng nhập
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @MaNV INT;
    DECLARE @NgayHienTai DATE = CAST(@ThoiGianDangNhap AS DATE);
    DECLARE @GioHienTai TIME = CAST(@ThoiGianDangNhap AS TIME);
    DECLARE @MaCaHienTai INT;
    
    -- 1. Lấy MaNV từ TenDangNhap
    SELECT @MaNV = tk.MaNV
    FROM TAIKHOAN tk
    WHERE tk.TenDangNhap = @TenDangNhap;

    -- Kiểm tra tài khoản có liên kết với nhân viên không
    IF @MaNV IS NULL
    BEGIN
        -- Nếu tài khoản không liên kết với NV (ví dụ: TK Admin chung), trả về NULL.
        -- Hoặc bạn có thể chọn logic khác tùy theo nghiệp vụ.
        SELECT NULL AS MaCaHopLe;
        RETURN;
    END

    -- 2. Tìm MaCa hợp lệ dựa trên PHAN_CONG_CA và CA_LAM_VIEC
    SELECT TOP 1 @MaCaHienTai = pc.MaCa
    FROM PHAN_CONG_CA pc  -- Bảng phân công (MaNV, NgayLam, MaCa)
    JOIN CA_LAM_VIEC clv ON pc.MaCa = clv.MaCa -- Bảng ca làm việc (GioBatDau, GioKetThuc)
    WHERE 
        pc.MaNV = @MaNV 
        AND pc.NgayLam = @NgayHienTai -- Đúng ngày làm việc
        -- Giờ hiện tại phải nằm trong khoảng thời gian của ca làm việc
        AND @GioHienTai >= clv.GioBatDau 
        AND @GioHienTai <= clv.GioKetThuc;

    -- 3. Trả về kết quả
    IF @MaCaHienTai IS NOT NULL
    BEGIN
        SELECT @MaCaHienTai AS MaCaHopLe;
    END
    ELSE
    BEGIN
        SELECT NULL AS MaCaHopLe;
    END

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeSPtheoHSX]    Script Date: 17/11/2025 7:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[sp_ThongKeSPtheoHSX]
as
begin
	select hsx.TenHSX, count(sp.MaSP) as N'SoLuong'
	from HANGSANXUAT hsx
	join SANPHAM sp on sp.MaHSX = hsx.MaHSX
	group by hsx.TenHSX
	order by SoLuong desc
end
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeTienNhapTheoNgay]    Script Date: 17/11/2025 7:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[sp_ThongKeTienNhapTheoNgay]
	@TuNgay Date,
	@DenNgay Date
as
begin
	select CAST(pn.NgayNhap AS Date) as NgayNhap, sum(pn.TongTien) as TongNhapNgay
	from PHIEUNHAP pn
	where pn.NgayNhap >= @TuNgay AND pn.NgayNhap < DATEADD(day, 1, @DenNgay)
	group by CAST(pn.NgayNhap AS Date)
	order by NgayNhap
end
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongTinHoaDon]    Script Date: 17/11/2025 7:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[sp_ThongTinHoaDon]
AS
BEGIN
	SELECT 
		dh.MaDH, 
		dh.MaNV,
		dh.MaKH,   
		ctdh.MaSP,
        lkh.MaLoaiKH,
		-- Thông tin hiển thị
		dh.NgayLap, 
		nv.HoTen AS TenNhanVien, 
		kh.TenKH AS TenKhachHang, 
		sp.TenSP, 
		ctdh.SoLuong, 
		ctdh.DonGia, 
		ctdh.ThanhTien, 
		lkh.TenLoaiKH
	FROM DONHANG dh
	JOIN NHANVIEN nv ON nv.MaNV = dh.MaNV
	JOIN CHITIET_DONHANG ctdh ON ctdh.MaDH = dh.MaDH
	JOIN KHACHHANG kh ON kh.MaKH = dh.MaKH
	JOIN SANPHAM sp ON sp.MaSP = ctdh.MaSP
	JOIN LOAI_KHACHHANG lkh ON lkh.MaLoaiKH = kh.MaLoaiKH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongTinSanPham]    Script Date: 17/11/2025 7:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_ThongTinSanPham]
as
begin
	select sp.MaSP,sp.TenSP, sp.GiaBan, sp.GiaBan, sp.SoLuongTon, sp.BaoHanh, sp.MoTa, sp.AnhSP, hsx.TenHSX
	from SANPHAM sp, HANGSANXUAT hsx
	where sp.MaHSX = hsx.MaHSX
end
GO
/****** Object:  StoredProcedure [dbo].[sp_TraCuuLichSuNhapHang]    Script Date: 17/11/2025 7:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[sp_TraCuuLichSuNhapHang]
    @TuNgay DATE,
    @DenNgay DATE
AS
BEGIN
    SELECT 
        pn.MaPN,
        sp.TenSP,
        hsx.TenHSX,
        pn.NgayNhap,
        ctpn.SoLuong,
        ctpn.DonGia,
        ctpn.ThanhTien,
        nv.HoTen AS NhanVienNhap
    FROM PHIEUNHAP pn
    INNER JOIN CHITIET_PHIEUNHAP ctpn ON ctpn.MaPN = pn.MaPN
    INNER JOIN SANPHAM sp ON sp.MaSP = ctpn.MaSP
    INNER JOIN HANGSANXUAT hsx ON hsx.MaHSX = sp.MaHSX
    INNER JOIN NHANVIEN nv ON nv.MaNV = pn.MaNV
    WHERE CAST(pn.NgayNhap AS DATE) BETWEEN @TuNgay AND @DenNgay
    ORDER BY pn.NgayNhap DESC, pn.MaPN DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[TaoChiTietDonHang]    Script Date: 17/11/2025 7:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[TaoChiTietDonHang]
    @MaDH int,
    @MaSP int,
    @SoLuong int,
    @DonGia decimal(18,2)
as
begin
    DECLARE @ThanhTien decimal(18,2);

    SET @ThanhTien = @SoLuong * @DonGia;
    INSERT INTO CHITIET_DONHANG (MaDH, MaSP, SoLuong, DonGia)
    VALUES (@MaDH, @MaSP, @SoLuong, @DonGia);
   
    RETURN 1; 
end
GO
/****** Object:  StoredProcedure [dbo].[TaoChiTietPN]    Script Date: 17/11/2025 7:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[TaoChiTietPN]
	@MaPN int,
	@MaSP int,
	@SoLuong int,
	@DonGia decimal(18,2)
as
begin
	insert into CHITIET_PHIEUNHAP(MaPN,MaSP,SoLuong,DonGia)
	values(@MaPN,@MaSP,@SoLuong,@DonGia)
end
GO
/****** Object:  StoredProcedure [dbo].[TaoPhieuNhap]    Script Date: 17/11/2025 7:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[TaoPhieuNhap]
	@MaNV int,
	@MaNCC int
as
begin
	insert into PHIEUNHAP(NgayNhap,MaNV,MaNCC,TrangThai)
	values(GetDate(),@MaNV,@MaNCC,N'Tạo mới')
	SELECT SCOPE_IDENTITY();
end
GO
USE [master]
GO
